body {
    background-color: #e5e5e5;
}

@font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins/Poppins-Regular.woff") format("woff");
}

.page {
    max-width: 1440px;
    margin: 0 auto;
    background-color: #ffffff;
}


.header {
    display: flex;
    justify-content: center;
    width: 100%;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    min-height: 5rem;
}

.header__logo {
    width: 13.75rem;
    height: 1.1875rem;
    align-content: center;
}

.header__menu-list {
    display: flex;
    justify-content: end;
}
.header__menu-item {
    padding: 1rem;
    font-family: 'Poppins';
    line-height: 24px;
    font-size: 18px;
}


/* Блок About */

.about {
    background-color: rgba(236, 231, 228, 1);
}

.about__container {
    height: 45rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}


.about__description {
    width: 37.5rem;
    height: 35.375rem;
    align-self: center;
    justify-self: center;
    padding-top: 4rem;
    padding-left: 3rem;
    padding-right: 2rem;
}


.about__subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-bottom: 2rem;
}

.about__title {
    font-weight: 400;
    font-size: 64px;
    line-height: 70.4px;
    letter-spacing: 0%;
    padding-bottom: 2rem;
}

.about__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    padding-bottom: 2rem;
}

.about__links {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    padding-left: 3rem;
}

.about__img-item {
    width: 100%;
}


/* Блок Our firm */

.firm {
    padding: 5rem 0 3rem;

}

.firm__container {
    margin: 0 auto;

    display: grid;
    grid-template-columns: 30% 70%;
    max-width: 48rem;


}

.firm__label {
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0%;
    color: rgba(64, 62, 59, 1);
}

.firm__description p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    padding-bottom: 1rem;
    padding-right: 2rem;
    color: rgba(64, 62, 59, 1);
}

.firm__partner-profile {
    display: flex;
    gap: 1rem;
    align-items: center;

}

.firm__partner-photo {
    width: 5.25rem;
    height: 5.25rem;
}
.firm__partner-info {
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.firm__partner-name {
    color: rgba(27, 26, 26, 1);
    line-height: 26px;
    letter-spacing: 0%;
    font-size: 17px;
    font-weight: 400;
    display: grid;
    height: 50%;
    align-items: end;
}
.firm__partner-role {
    color: rgba(100, 92, 85, 1);
    line-height: 14px;
    font-size: 14px;
    font-weight: 400;
    height: 50%;
    display: grid;
    align-items: start;
    
}


.project-card {
    background-image: url("/media/images/reeding-house-img.png");
    background-size: 100% 100%;
    display: flex;
    min-height: 37.5rem;
    justify-content: end;
    align-content: center;
}

.project-card__content {
    justify-content: center;
    align-self: center;
    max-width:  18.75rem;
    padding-right: 2rem;
    margin-right: 2rem;
}

.project-card__title {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #403E3B;
}

.project-card__description {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    color: #645C55;
}